/**/.env
/**/files.txt
.venv/
/**/__pycache__/**
dev.md
# Python
__pycache__/
venv/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
.venv

# Config
config/config.yaml
script/config/config.yaml

# Token
token.json

# Data
# data/**
# script/data/**

# etc
dummy.json
cz.yaml

# Test folder
test/*
script/*.csv
